@model RoleViewModel
@inject IDepartmentService departmentService
@{
    ViewData["Title"] = "Create";
    var Departments = new SelectList(await departmentService.GetAllDepartments(), nameof(DepartmentToReturnDto.Id), nameof(DepartmentToReturnDto.Name));
}

<div class="row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Create Role</h1>
    <form method="post" class="col-8" asp-controller="Role" asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group mb-3">
            <label class="form-label" asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mt-4 m-auto">
            <input class="btn btn-primary" type="submit" value="Create" />
            <a asp-controller="User" asp-action="Index" class="btn btn-outline-dark">Back to list</a>
        </div>
    </form>
</div>

@section ValidationScript {
    <partial name="_ValidationScriptsPartial" />
}