
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="d-flex justify-content-center align-items-center min-vh-100">
<div class="main-agileinfo">
	<div class="agileits-top ">
		<div>
			<p>Reset Password URL Has Been Send To Your Email.</p>
		</div>
		<div>
			<p><a href="https://mail.google.com" target="_blank">You Inbox</a></p>
		</div>
	</div>
</div>
</div>


