@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="d-flex justify-content-center align-items-center min-vh-100">
<div class="main-agileinfo">
	<div class="agileits-top ">
		<h1 class="m-1">SignIn Form</h1>
		<div asp-validation-summary="All" class="text-danger"></div>
		<form asp-action="SendResetPasswordUrl">
			<input asp-for="Email" placeholder="Enter the email">
			<span asp-validation-for="Email" class="text-danger"></span>
			<input type="submit" value="	submit">
		</form>
		<p><a asp-action="Login"> Back to login</a></p>
	</div>
</div>
</div>
@section ValidationScript {
	<partial name="_ValidationScriptsPartial" />
}



