@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="d-flex justify-content-center align-items-center min-vh-100">
<div class="main-agileinfo">
	<div class="agileits-top ">
		<h1 class="m-1">SignIn Form</h1>
		<div asp-validation-summary="All" class="text-danger"></div>
		<form asp-action="ResetPassword">
			<input asp-for="Password" type="password" placeholder="Enter the new password">
			<span asp-validation-for="Password" class="text-danger"></span>
			<br />
			<input asp-for="ConfirmPassword" placeholder="Enter the confirm password">
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			<input type="submit" value="Reset Password">
			<br />
		</form>
		<p><a asp-action="Login"> Back to login</a></p>
	</div>
</div>
</div>
@section ValidationScript {
	<partial name="_ValidationScriptsPartial" />
}

